<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template literals for HTML</title>
    <script src="./js/etemplate.min.js"></script>
</head>

<body>

    <script>
        let title="&lt; this is test! &gt;";
        let input_no=1;
        function addListener() {
            document.querySelector('input').addEventListener('input',(event)=> {
                let input_value=document.querySelector('input').value;
                if (input_value>20) { input_value=20; }
                if (input_value<0) {input_value=0; }
                document.querySelector('input').value=input_value;
                syncTemplate(event);
            });
        }
    
        eTemplate(); 
        
    </script>
    
    <div class="main_wrapper">
        <%= title %>
        <br>
        <br>
        <div class="header">
            <% include('/module/test/_wrap_header.html') %>
        </div>
        <br>
        <span>Input number (0 - 20): &nbsp;</span><input type="number" min="0" max="20" data-sync="input_no" value="<%= input_no %>">
        <br>
        <div class="main">
            <% for (i=0; i<input_no; i++) { %> 
                <% include('/module/test/_wrap_main.html') %>
            <% } %>
        </div>
    </div>
</body>




</html>